/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
}

#header {
    max-width: 100%;
    height: 60px;
    border: 1px solid #000;
    background: #100101;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 24px;
    line-height: 60px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(15, 100px); /* 각 그리드 아이템의 너비를 자동으로 설정 */
    grid-gap: 15px; /* 그리드 간격 설정 */
}

.grid-container > div {
    background-color: #ccc;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    width: 60px; /* 그리드 아이템의 너비 설정 */
}

.grid-bottomcontainer {
    display: flex;
    justify-content: center;
}

.member,
.nonMembers,
.myLocation {
    background-color: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-flex; /* 수정: flex 컨테이너로 설정 */
    flex-direction: column; /* 수정: 세로로 배치되도록 설정 */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 20px; /* 간격 설정 */
}

.member img,
.nonMembers img {
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 10px;
}
.myLocation img {
	max-width: 50px;
    max-height: 50px;
    margin-bottom: 10px;
}


/* 로그인,회원가입 모달 */
#loginModal, #signupModal {
    display: none; /* 처음에는 숨겨짐 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* 배경에 투명도 부여 */
    padding-top: 60px; /* 모달 내용이 화면 상단에서 시작되도록 조정 */
}

/* 회원가입 모달 컨텐츠 */
.modal-SignUpContent {
    background-color: #fefefe;
    margin: 5% auto; /* 모달을 수직 가운데 정렬 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 모달 창 너비 조절 */
    max-width: 400px; /* 최대 너비 지정 */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
    box-sizing: border-box;
}
/* 닫기 버튼 */
.closeSignUpModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeSignUpModal:hover,
.closeSignUpModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 회원가입 폼 스타일 */
#signupForm {
    text-align: center;
}

#signupForm label {
    display: block;
    margin-top: 10px;
}

#signupForm input[type="text"],
#signupForm input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#signupForm button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

#signupForm button:hover {
    background-color: #45a049;
}

/* 회원가입 모달 제목 스타일 */
.modal-SignUpContent h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* 로그인 모달 컨텐츠 */
.modal-LoginContent {
    background-color: #fefefe;
    margin: 5% auto; /* 모달을 수직 가운데 정렬 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 모달 창 너비 조절 */
    max-width: 300px; /* 최대 너비 지정 */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
    box-sizing: border-box;
}

/* 닫기 버튼 */
.closeLoginModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeLoginModal:hover,
.closeLoginModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 로그인 폼 스타일 */
#loginForm {
    text-align: center;
}

#loginForm label {
    display: block;
    margin-top: 10px;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#loginForm input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

#loginForm input[type="submit"]:hover {
    background-color: #45a049;
}

/* 로그인 모달 제목 스타일 */
.modal-LoginContent h2 {
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .grid-leftcontainer, .grid-rightcontainer {
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr)); /* 화면이 작아질 때 열의 크기 재조정 */
    }
}
